# yii console commands
#/yii
/yii_test
/yii_test.bat

#Composer
composer.lock

# phpstorm project files
.idea


# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
/composer.phar
/composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

/common/config/_log.php
/common/config/_db.php
/common/config/_db2.php
/common/config/_mailer.php
/common/config/_console.php
/common/config/_api.php
/common/config/config.php

/log

!/backend/runtime
/backend/runtime/*
!/backend/runtime/index.html

!/backend/web/assets
/backend/web/assets/*
!/backend/web/assets/index.html

/backend/web/img
/backend/web/thumbs
/backend/.htaccess

!/frontend/runtime
/frontend/runtime/*
!/frontend/runtime/index.html

!/frontend/web/assets
/frontend/web/assets/*
!/frontend/web/assets/index.html

/frontend/web/uploads/

# Git
/backend/modules/auth/composer.json
/backend/modules/auth/README.md
/backend/modules/auth/.git

/backend/modules/contact/composer.json
/backend/modules/contact/README.md
/backend/modules/contact/.git

/backend/modules/product/composer.json
/backend/modules/product/README.md
/backend/modules/product/.git

/backend/modules/article/composer.json
/backend/modules/article/README.md
/backend/modules/article/.git

/backend/modules/customer/composer.json
/backend/modules/customer/README.md
/backend/modules/customer/.git

/backend/modules/location/composer.json
/backend/modules/location/README.md
/backend/modules/location/.git

/backend/modules/website/composer.json
/backend/modules/website/README.md
/backend/modules/website/.git

/backend/modules/calendar/composer.json
/backend/modules/calendar/README.md
/backend/modules/calendar/.git

/backend/modules/filemanager/composer.json
/backend/modules/filemanager/README.md
/backend/modules/filemanager/.git

/backend/modules/log/composer.json
/backend/modules/log/README.md
/backend/modules/log/.git

/backend/modules/affiliate/composer.json
/backend/modules/affiliate/README.md
/backend/modules/affiliate/.git

/backend/modules/comment/composer.json
/backend/modules/comment/README.md
/backend/modules/comment/.git

/backend/widgets/tiny/composer.json
/backend/widgets/tiny/README.md
/backend/widgets/tiny/.git

/backend/widgets/voip24h/composer.json
/backend/widgets/voip24h/README.md
/backend/widgets/voip24h/.git

#package
/package/imagick/.git
/package/imagick/README.md
/package/imagick/composer.json

/package/tiny/.git
/package/tiny/README.md
/package/tiny/composer.json


/backend/modava/composer.json
/backend/modava/README.md
/backend/modava/.git

/common/widgets/select2/composer.json
/common/widgets/select2/README.md
/common/widgets/select2/.git