# yii console commands
#/yii
/yii_test
/yii_test.bat

#Composer
composer.lock

# phpstorm project files
.idea


# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
/composer.phar
/composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

/common/config/configparams.php
/common/config/config.php

/log

!/backend/runtime/
/backend/runtime/*
!/backend/runtime/index.html

!/backend/web/assets/
/backend/web/assets/*
!/backend/web/assets/index.html

!/backend/web/uploads/
/backend/web/uploads/*
!/backend/web/uploads/filemanager/
/backend/web/uploads/filemanager/*
!/backend/web/uploads/filemanager/source/
/backend/web/uploads/filemanager/source/*
!/backend/web/uploads/filemanager/source/index.html

!/backend/web/uploads/filemanager/thumbs/
/backend/web/uploads/filemanager/thumbs/*
!/backend/web/uploads/filemanager/thumbs/index.html

!/frontend/runtime/
/frontend/runtime/*
!/frontend/runtime/index.html

!/frontend/web/assets/
/frontend/web/assets/*
!/frontend/web/assets/index.html

!/frontend/web/uploads/
/frontend/web/uploads/*

!/frontend/web/uploads/faq/
/frontend/web/uploads/faq/*
!/frontend/web/uploads/faq/150x150/
/frontend/web/uploads/faq/150x150/*
!/frontend/web/uploads/faq/150x150/no-image.png

!/frontend/web/uploads/partner/
/frontend/web/uploads/partner/*
!/frontend/web/uploads/partner/150x150/
/frontend/web/uploads/partner/150x150/*
!/frontend/web/uploads/partner/150x150/no-image.png

!/frontend/web/uploads/slide/
/frontend/web/uploads/slide/*
!/frontend/web/uploads/slide/150x150/
/frontend/web/uploads/slide/150x150/*
!/frontend/web/uploads/slide/150x150/no-image.png

!/frontend/web/uploads/slide-category/
/frontend/web/uploads/slide-category/*
!/frontend/web/uploads/slide-category/150x150/
/frontend/web/uploads/slide-category/150x150/*
!/frontend/web/uploads/slide-category/150x150/no-image.png

!/frontend/web/uploads/slide-type/
/frontend/web/uploads/slide-type/*
!/frontend/web/uploads/slide-type/150x150/
/frontend/web/uploads/slide-type/150x150/*
!/frontend/web/uploads/slide-type/150x150/no-image.png

!/frontend/web/uploads/article/
/frontend/web/uploads/article/*
!/frontend/web/uploads/article/150x150/
/frontend/web/uploads/article/150x150/*
!/frontend/web/uploads/article/150x150/no-image.png

!/frontend/web/uploads/article-category/
/frontend/web/uploads/article-category/*
!/frontend/web/uploads/article-category/150x150/
/frontend/web/uploads/article-category/150x150/*
!/frontend/web/uploads/article-category/150x150/no-image.png

!/frontend/web/uploads/article-type/
/frontend/web/uploads/article-type/*
!/frontend/web/uploads/article-type/150x150/
/frontend/web/uploads/article-type/150x150/*
!/frontend/web/uploads/article-type/150x150/no-image.png

!/frontend/web/uploads/product-category/
/frontend/web/uploads/product-category/*
!/frontend/web/uploads/product-category/150x150/
/frontend/web/uploads/product-category/150x150/*
!/frontend/web/uploads/product-category/150x150/no-image.png

!/frontend/web/uploads/product-type/
/frontend/web/uploads/product-type/*
!/frontend/web/uploads/product-type/150x150/
/frontend/web/uploads/product-type/150x150/*
!/frontend/web/uploads/product-type/150x150/no-image.png

!/frontend/web/uploads/product/
/frontend/web/uploads/product/*
!/frontend/web/uploads/product/150x150/
/frontend/web/uploads/product/150x150/*
!/frontend/web/uploads/product/150x150/no-image.png


!/frontend/web/uploads/document/
/frontend/web/uploads/document/*
!/frontend/web/uploads/document/60x64/
/frontend/web/uploads/document/60x64/*
!/frontend/web/uploads/document/60x64/no-image.png

!/frontend/web/uploads/video/
/frontend/web/uploads/video/*

!/frontend/web/uploads/video/150x150/
/frontend/web/uploads/video/150x150/*
!/frontend/web/uploads/video/150x150/no-image.png

!/frontend/web/uploads/video-type/
/frontend/web/uploads/video-type/*
!/frontend/web/uploads/video-type/150x150/
/frontend/web/uploads/video-type/150x150/*
!/frontend/web/uploads/video-type/150x150/no-image.png

!/frontend/web/uploads/video-category/
/frontend/web/uploads/video-category/*
!/frontend/web/uploads/video-category/150x150/
/frontend/web/uploads/video-category/150x150/*
!/frontend/web/uploads/video-category/150x150/no-image.png

# Git

/backend/modules/faq/composer.json
/backend/modules/faq/README.md
/backend/modules/faq/.git

/backend/modules/video/composer.json
/backend/modules/video/README.md
/backend/modules/video/.git

/backend/modules/auth/composer.json
/backend/modules/auth/README.md
/backend/modules/auth/.git

/backend/modules/contact/composer.json
/backend/modules/contact/README.md
/backend/modules/contact/.git

/backend/modules/product/composer.json
/backend/modules/product/README.md
/backend/modules/product/.git

/backend/modules/article/composer.json
/backend/modules/article/README.md
/backend/modules/article/.git

/backend/modules/customer/composer.json
/backend/modules/customer/README.md
/backend/modules/customer/.git

/backend/modules/location/composer.json
/backend/modules/location/README.md
/backend/modules/location/.git

/backend/modules/website/composer.json
/backend/modules/website/README.md
/backend/modules/website/.git

/backend/modules/calendar/composer.json
/backend/modules/calendar/README.md
/backend/modules/calendar/.git

/backend/modules/filemanager/composer.json
/backend/modules/filemanager/README.md
/backend/modules/filemanager/.git

/backend/modules/log/composer.json
/backend/modules/log/README.md
/backend/modules/log/.git

/backend/modules/affiliate/composer.json
/backend/modules/affiliate/README.md
/backend/modules/affiliate/.git

/backend/modules/iway/composer.json
/backend/modules/iway/README.md
/backend/modules/iway/.git

/backend/modules/pages/composer.json
/backend/modules/pages/README.md
/backend/modules/pages/.git

/backend/modules/comment/composer.json
/backend/modules/comment/README.md
/backend/modules/comment/.git

/backend/widgets/tiny/composer.json
/backend/widgets/tiny/README.md
/backend/widgets/tiny/.git

/backend/widgets/voip24h/composer.json
/backend/widgets/voip24h/README.md
/backend/widgets/voip24h/.git

/backend/widgets/datetime/composer.json
/backend/widgets/datetime/README.md
/backend/widgets/datetime/.git

/backend/widgets/giaohang/composer.json
/backend/widgets/giaohang/README.md
/backend/widgets/giaohang/.git

/backend/modules/slide/composer.json
/backend/modules/slide/README.md
/backend/modules/slide/.git

#package
/package/imagick/.git
/package/imagick/README.md
/package/imagick/composer.json

/package/tiny/.git
/package/tiny/README.md
/package/tiny/composer.json


/backend/modava/composer.json
/backend/modava/README.md
/backend/modava/.git

/backend/widgets/select2/composer.json
/backend/widgets/select2/README.md
/backend/widgets/select2/.git

/backend/widgets/input/composer.json
/backend/widgets/input/README.md
/backend/widgets/input/.git